{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": [".*", ".*.js", "package.json"],
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false
      }
    },
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "printWidth": 80,
        "singleQuote": false
      }
    }
  ]
}
