/**
 * Container Block Styles
 *
 * CSS for both frontend + backend.
 */

$default-class-name: "fleximple-block-ad";

.fleximple-block-ad {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:empty {
    display: none;
  }

  &__image {
    max-width: 100%;
  }

  &__link {
    position: absolute;
    inset: 0;
    z-index: 1;
  }
}
