/**
 * Profile Block Styles
 *
 * CSS for both frontend + backend.
 */

$default-class-name: "fleximple-block-profile";

.fleximple-block-profile {
  display: flex;

  &__inner {
    display: flex;
  }

  &__content {
    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0 !important;
    }
  }

  &__media {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__image {
    width: 100%;
    vertical-align: middle; // Removes blank space below.
    opacity: 0;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
  }
}
