/**
 * ContactInfo Block Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.fleximple-block-contact-info {
  display: inherit !important;

  & > .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;
  }
}
