/**
 * Feature Block Styles
 *
 * CSS for both frontend + backend.
 */

$default-class-name: "fleximple-blocks-feature";

.fleximple-blocks-feature {
  position: relative;

  .fleximple-blocks-button__link {
    position: relative;
    z-index: 1;
  }
}
