/**
 * Feature Block Styles
 *
 * CSS for both frontend + backend.
 */

.fleximple-block-feature {
	position: relative;

	& &__inner > *:nth-child(2) {
		margin-top: 0 !important;
	}

	& &__inner > *:last-child {
		margin-bottom: 0 !important;
	}

	.fleximple-block-button__link {
		position: relative;
		z-index: 1;
	}

	& &__link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-indent: -9999px;
	}
}
