/**
 * Feature Block Styles
 *
 * CSS for both frontend + backend.
 */

$default-class-name: "fleximple-block-feature";

.fleximple-block-feature {
  position: relative;

  .fleximple-block-button__link {
    position: relative;
    z-index: 1;
  }
}
