/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block[data-type="fleximple-blocks/post"] {
  // Allows for the block to be selected
  &:not(.is-selected)::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
  }
}

.fleximple-block-post {
  &__footer {
    display: block !important;

    .fleximple-components-placeholder {
      min-height: 100px;
    }

    & > .block-editor-inner-blocks > .block-editor-block-list__layout {
      display: flex;
      flex-direction: column;

      & > * {
        flex: 1;
        margin: 0;
      }
    }
  }

  &__link-overlay {
    display: none;
  }
}
