/**
 * #.# Styles
 *
 * CSS for both frontend + backend.
 */

$default-class-name: "fleximple-block-post";

.fleximple-block-post {
  display: flex;
  flex-direction: column;
  position: relative;

  & &__media + &__content,
  & &__content + &__media {
    margin-top: 16px;
  }

  & &__media {
    position: relative;
  }

  & &__picture {
    height: 0;
    margin: 0 !important;
    overflow: hidden;
    display: block;
  }

  & &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    vertical-align: middle; // Removes blank space below.
    margin-bottom: 0;
  }

  & &__audio {
    position: absolute;
    bottom: 0;
    width: 100%;
    vertical-align: middle; // Removes blank space below.
    z-index: 10;
  }

  & &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > * {
      margin-top: 2px !important;
      margin-bottom: 2px !important;

      &:first-child {
        margin-top: 0 !important;
      }

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  & &__categories {
    font-size: 13px;
  }

  & &__category {
    margin-right: 8px;
    position: relative;
    z-index: 1;

    &:last-child {
      margin-right: 0;
    }
  }

  & &__title {
    line-height: 1.25;

    .#{$default-class-name}__kicker {
      color: var(--color-primary, #0080ff);

      &::after {
        content: "\00A0\002F\00A0";
        color: var(--gray-200);
        display: inline-block;
      }
    }

    a {
      position: relative;
      z-index: 1;
    }
  }

  & &__meta {
    font-size: 13px;
    z-index: 1;

    & > * {
      display: inline-block;
    }

    & > * + * {
      &::before {
        content: "\a0\b7\a0";
      }
    }
  }

  & &__excerpt {
    font-size: 15px;
    line-height: 1.5;

    p {
      margin: 0;
    }
  }

  & &__read-more {
    font-size: 15px;
    display: inline-block;
    z-index: 1;
  }

  & &__footer {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-top: 8px;

    .#{$default-class-name}__title {
      font-size: 15px;
    }
  }

  & &__link-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
  }

  &.is-style-standard {
  }

  &.is-style-stacked {
    flex-direction: column;
    justify-content: center;

    & .fleximple-block-post__media {
      flex: 0 0 70%;
      margin-bottom: 0;
    }

    & .fleximple-block-post__content {
      flex: 0 0 40%;
      padding: 20px;
      margin-top: -10%;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      position: relative;
      background-color: var(--white-rich);
    }
  }
}

@media only screen and (min-width: 46.25em) {
  .fleximple-block-post {
    & &__footer {
      flex-direction: row;
      justify-content: space-between;

      & > * {
        flex: 1;
      }

      & > * + * {
        margin-left: 20px;
      }
    }
  }
}
