/**
 * contact-info-itemr Block Styles
 *
 * CSS for both frontend + backend.
 */

.fleximple-blocks-contact-info-item {
  display: flex;
  justify-content: center;
  align-items: center;

  .fleximple-blocks-icon,
  p {
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;
  }
}
