/**
 * Header Block Styles
 *
 * CSS for both frontend + backend.
 */

.fleximple-block-header {
  position: relative;

  & > *:first-child {
    margin-top: 0 !important;
  }

  & > *:last-child {
    margin-bottom: 0 !important;
  }

  &__heading {
    margin-top: 0;

    &:not(.block-editor-rich-text__editable) {
      position: relative;
    }
  }

  &__subhead {
    font-weight: 700;
  }

  &__additional-content {
  }
}
